# Ignore everything
*


*.py[cod]
*.py~
!main.py
!preprocess.py
!preprocess_zip.py
!vgg16.py
!gpu_check.py
!alexnet.py
!classify_pretrained.py
!googlenet.py
!predictions.npz

!cuda/
!cuda/*
!cuda/include/*
!cuda/lib64/*

!preprocessed_data/
!preprocessed_data/*

# Include everything within the code folder
!rapport/

rapport/*
!rapport/cnn_project_rapport.pdf
!rapport/jmlr2e.sty
!rapport/cnn_project_rapport.tex
!rapport/images/
!rapport/images/cnn_embed_1k.jpg

# Include README.md
!README.md

# Include gitignore
!.gitignore

