# Ignore everything
*

# Include Code-folder
!code/

# Include everything within the code folder
!code/*

*.py[cod]
*.py~
!main.py
!preprocess.py

# Include everything within the code folder
!rapport/

rapport/*
!rapport/cnn_project_rapport.pdf

# Include README.md
!README.md

# Include gitignore
!.gitignore

